html, body {
	height: 100%;
	margin: 0px;
	font-family: 'Cardo', serif;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.wrapper {
	width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
    margin: 0px;
    font-size: 18px;
}

.vcenter {
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.hand {
	font-size: 30px;
	position: relative;
	top: -40px;
	color: #ffffff;
}

#question-space {
	height: 100%;
}

.hand:hover {
	cursor: pointer;
}
.btn-group {
	padding-top: 20px;
}

.center {
	text-align: center;
}
.small {
	font-size: 13px;
}

.question-block {
	padding-top: 60px;
	margin: 0px;
	font-size: 40px;
}

.btn-quiz {
	background-color: #F5F5F5;
	border: 1px #5E5E5E solid;
	color: #000000;
	font-size: 18px;
	height: 250px;
}

.ans {
	width: 200px;
}

.btn-quiz.active {
	background-color: #A9A9A9;
	border: 1px #5E5E5E solid;
}

img {
	margin: 20px;
}

#answer {
	display: block;
	min-height: 400px;
	margin-bottom: 80px;
	font-size: 18px;
}

#answer-button {
	padding: 0px;
	margin: 0px;
	padding-top: 90px;
	height: 150px;
}
